@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Outfit:wght@100;200&family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Segoe UI', sans-serif;
    height: 100%;
}

#box1 h1 {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    max-height: 1px;

}

#content1 {
    color: #777;
    text-align: center;
    font-size: 1.5em;
    max-height: 80%;
}

#content1 p {
    display: flex;
    justify-content: center;
    align-items: center;
}


#box1, #box2, #box3, #box4, #box5 {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#box1 {
    background-image: url(../imagem/1.jpg);
}

#box2 {
    background-image: url(../imagem/2.jpg);
}

#box2-content {
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 2px 2px 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content2 {
    color: #777;
    background-color: #fff;
    text-align: center;
    font-size: 1.5em;
}

#content2 p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box3 {
    background-image: url(../imagem/3.jpg);
}

#box4 {
    background-image: url(../imagem/4.jpg);
}

#box4-content {
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 2px 2px 10px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box5 {
    background-image: url(../imagem/5.jpg);
}

footer {
    max-height: 100px;
    background-color: rgb(181, 181, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span a {
    text-decoration: none;
}